<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CV Nombre Apellido</title>
    <link href="https://fonts.googealpis.com/css?family=Gugi" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="imagenes/fav_cv.jpg">
    <link rel="stylesheet" href="estilo_mio.css" type="text/css">
    <style>
        body{
            text-align: center;
            font-family: 'Gugi', cursive;
            background: linear-gradient(to right, #db8fea, #eacfe4);
        }
        div{
            border: 2px dashed #4319ac;
            margin: 10px;
            padding: 5px 30px;
            border-radius: 15px;
            box-shadow: 10px 12px rgba(238, 47, 161, 0.94);
        }
        #principal{
            width: 50px;
            float: left;
            border-radius: 50% ;
        }

        div.especial h3{
            font-family: 'Rubik', sans-serif;
            text-shadow: 10px 5px #999;
        }
    </style>
</head>
<body>

<div>
    <img id="principal" src="imagenes/icono_usuario.jpg">
    <h1>Nombre Alumno</h1>
    <h2>Ing. en Computacion</h2>
</div>

<div class="especial">
    <h3>Datos Personales</h3>
    <p><span>Fecha de Nacimiento:</span> dd/mm/aaaa</p>
    <p><span>Email:</span> email@email.com</p>
</div>

<div>
    <h3>Formacion Academica</h3>
    <p><span>Carrera:</span> Ingeniería XXXXX</p>
    <p><span>Universidad:</span> Universidad Católica de Córdoba</p>
    <p><span>Año de Ingreso:</span> 2018</p>
</div>

<div>
    <h3>Cursos</h3>

    <div>
        <h4>Nombre Curso 1</h4>
        <p><span>Lugar:</span> Nombre Institución</p>
        <p><span>Año:</span> XXXX </p>
    </div>

    <div>
        <h4>Nombre Curso 2</h4>
        <p><span>Lugar:</span> Nombre Institución</p>
        <p><span>Año:</span> XXXX </p>
    </div>
</div>

</body>
</html>